# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
npm-debug.log

# Local development settings
.env
.env.*
*.sqlite3

# Docker
Dockerfile
.dockerignore

# Railway
railway.json
nixpacks.toml
build.sh 